git+https://github.com/qubvel/efficientnet
git+https://github.com/qubvel/classification_models.git
git+https://github.com/qubvel/segmentation_models
git+https://github.com/albu/albumentations
tta-wrapper
keras
tensorflow-gpu==1.15.4
sklearn
bs4
html5lib
